 <!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%=values%></title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js">
</script>
<style type="text/css">
  
.its:hover{

  transform:scale(1.2);
  transition:all .5s ease;
  box-shadow:none; 
}

::placeholder{

  color:white;
  font-size:20px;
  opacity:20;
} 
.inputs:hover{

  border-color:red;

}
body{

  background: black;
} 


.load-inner{

    width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color:black;
  display:flex;
  justify-content: center;
  align-items: center;
  }


</style>
</head>
<body>
 







  <div style="padding-top:10px" align="center"> 
 
 <form action="/findmovies" method="GET" id="forms"> 

 <input id="moviei" placeholder="Search Movies" type="text" name="movie" style="width:400px;height:50px;background:black;color:white;border-radius:30px;outline:none;padding:0 30px;font-size:20px;" class="inputs" value="<%=values%>" required>

 </form>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">email</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         
          
          <div class="mb-3">
            <label for="message-text" class="col-form-label">email:</label>
            <input type="email" class="form-control" name="email" id="emails" placeholder="type email">
            
          </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="mainsub">Send</button>
      </div>
        
      </div>
      
    </div>
  </div>
</div>

</div>

<% if(error && error.length>0){%>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
<%=error %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
<% if(success && success.length>0){%>
<div class="alert alert-info alert-dismissible fade show" role="alert">

<%=success %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
<% } %>
</div>

<div style="padding-top:70px;padding-bottom:50px;">
<div style="border-radius:20px;background:black;">
<%if(lens>1){%>    
 
 <table class="table">
  <thead>
    <tr style="color:white">
      <th scope="col"><i class="fas fa-film"></i></th>
      <th scope="col">Movie</th>
      <th scope="col">Uploaded</th>
      <th scope="col">Size</th>

      <th scope="col">Seeders</th>
      <th scope="col">leechers</th>
      <th scope="col" style="text-align:center">Actions</th>

    </tr>
  </thead>
  <tbody>


<%$("tr").each(function(i,el){%>
  <%if ($(el).find(".vertTh").text()){%>
    
    <tr style="color:white;">
      
      
      <th scope="row"><i class="fas fa-hand-point-right" style="color:maroon"></i></th>
      <td><%=$(el).find(".vertTh").next().text()%></td>
      <td><%=$(el).find(".vertTh").next().next().text()%></td>
      <td><%=$(el).find(".vertTh").next().next().next().next().text().replace("B","").replace("i","B")%></td>
      <td style="text-align:center;"><%=$(el).find(".vertTh").next().next().next().next().next().text()%></td>
      <td style="text-align:center;"><%=$(el).find(".vertTh").next().next().next().next().next().next().text()%></td>
    

      <td style="text-align:center;">
           
            <div class="dropdown" >
          <button class="btn btn-outline-danger btn-md dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <%=values%>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="text-align:center;background:black">
            <li><a class="dropdown-item" href="#"><div style="box-shadow:2px 2px 2px maroon;width:33px;border-radius:30px;display:inline"><a href='/moreinfo/<%=$(el).find(".vertTh").next().next().next().find("a").attr("href")%>'><i class="fas fa-arrow-circle-down its" style="color:maroon;font-size:27px"></i></a></div></a></li>
            <br>
            <li style="border:none;cursor:pointer"> <div style="box-shadow:2px 2px 2px maroon;width:33px;border-radius:30px;display:inline">
            <form action="/mail" method="POST" class="formone"> 
              <input type="hidden" value="<%=values%>" name="film">
              <input type="hidden" class="form-control" name="names" value="<%=$(el).find(".vertTh").next().text()%>">
                  <input type="hidden" class="form-control" name="size" value="<%=$(el).find(".vertTh").next().next().next().next().text().replace("B","").replace("i","B")%>">

                <input type="hidden" class="form-control" name="li" value=<%=$(el).find(".vertTh").next().next().next().next().next().text()%>>
                <input type="hidden" class="form-control" name="si" value=<%=$(el).find(".vertTh").next().next().next().next().next().next().text()%>>

                <input type="hidden" class="form-control" name="magnet" value="<%=$(el).find(".vertTh").next().next().next().find("a").attr("href")%>">
                <button class="btn btn-outline-none"><i class="fas fa-paper-plane its"  style="color:maroon;font-size:27px " ></i></div></li></button>
          </form>
          </ul>
        </div>
     
    
      </td>

    </tr>
<%}%>
<%})%>
  
  </tbody>
 </table>
<%}%>
<%if(lens==1 || lens==0){%>

     
     <div align="center"><b><em style="color:maroon;font-size:20px;">Sorry,No Movies Found!</em></b></div>
<%}%>

</div>
</div>   
</body>
 <div style="background:maroon">
<footer>
  <div style="background:;"><div align="center" style="padding-bottom:20px;padding-top:10px;"><b><em style="color:black;font-size:25px;">MovieKhor!</em></b></div></div>

</footer>
</div>





</html>





<div class="load-inner">
<b><em style="color:maroon;font-size:70px;"><%=values%></em></b>
</div>
<script type="text/javascript">
  $(document).ready(function(){
   $("#moviei").on('keyup',function(e){
       
    if(e.key!=="Backspace" && e.key!=="Control" && e.key!=="ArrowRight" && e.key!=="ArrowLeft" && e.key!=="ArrowDown" && e.key!=="ArrowUp"){ 
     if($("#moviei").val().length>0){
      console.log(e.key)
      $("#forms").submit()
       
      }
     }
   })
    
})
 
   
   

   $(window).on("load",function(){
          $(".load-inner").fadeOut("slow");

  })   
  
$("#emails").on("keyup",function(){
  
  $(".maine").val($("#emails").val())
})
$("#mainsub").on("click",function(){
  
  $(".formone").submit()
})
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> 
 


